html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #3c3e44;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 24px 0px;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 8px 0px 8px 0px;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;

}

.logo {
  display: flex;
  align-items: center;
  padding-left: 24px;
  flex-grow: 1;
}

.logo img {
  height: 32px;
  width: auto;
}

.title1{
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #3c3e44;
  font-weight: bold;
}

.title2{
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #abaeb5;
}

nav {
  padding-right: 24px;
}

nav span {
  display: inline-block;
  padding-left: 16px;
}

.altnav {
  display: none
}

.altnav img {
  height: 32px;
  width: auto;
}

@media only screen and (max-width: 650px) {
  .logo {
    display: none;
  }
  nav {
    display: none;
  }
  .altnav {
    display: flex;
    width: 100%;
  }
  .altnav span {
    display: inline-block;
    text-align: center;
    width: 25%;
  }
}

/* Banner */

.banner {
  width: 100%;
  background-color: hsla(222, 6%, 69%, 0.91);
  display: flex;
}

.banner img {
  width: 60%;
  height: auto;
  margin: 32px 24px;
}

.tagline {
  display: flex;
  flex-direction: column;
  width: 325px;
  justify-content: center;
}

.start {
  background-color: #3c3e44;
  color: white;
  padding: 8px 0px;
  text-align: center;
  margin: 24px 0px;
}

@media only screen and (min-width: 751px) and (max-width: 1000px) {
  .banner img {
    width: 50%;
  }
}

@media only screen and (min-width: 351px) and (max-width: 750px) {
  .banner {
    flex-direction: column;
    align-items: center;
  }
  .banner img {
    width: 100%;
    margin: 0px 0px;
  }
  .start {
    background-color: hsla(225, 6%, 25%, 0.50);
    margin: 24px 0px 32px 0px;
  }
  h1 {
    margin: 32px 0px;
  }
}

@media only screen and (max-width: 350px) {
  .banner {
    flex-direction: column;
    align-items: center;
  }
  .banner img {
    width: 100%;
    margin: 0px 0px;
  }
  .start {
    background-color: hsla(225, 6%, 25%, 0.50);
    margin: 24px 0px 32px 0px;
  }
  h1 {
    margin: 32px 0px;
  }
  .tagline {
    margin: 0px 16px;
    width: 90%;
  }
}

/* Information */

.information {
  display: flex;
  width: 100%;
  background-color: hsla(225, 6%, 25%, 0.15);
}

a {
  color: #198dcb;
  font-size: 1.2rem;
  text-decoration: none;
}

.practice {
  margin: 32px 24px;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.practice img {
  width: 100%;
  height: auto;
  padding-bottom: 12px;
}

.practice span {
  font-size: 0.8rem;
}

.infolist {
  width: 40%;
  display: flex;
  flex-direction: column;
  border-left: solid 2px hsla(222, 6%, 69%, 0.91);
}

.infolistalt {
  display: none;
}

.orientation {
  display: flex;
  align-items: center;
  border-bottom: solid 2px hsla(222, 6%, 69%, 0.91);
}

.orientation span {
  width: 65%;
}

.orientation img {
  width: 35%;
  height: auto;
  padding: 16px;
}

.orientationalt {
  flex-direction: column;
  padding: 16px;
  justify-content: center;
}

.orientationalt img {
  width: 100%;
  height: auto;

}

.orientationalt1 {
  margin: 32px 32px;
}

.campus {
  display: flex;
  align-items: center;
}

.campus span {
  width: 65%;
}

.campus img {
  width: 35%;
  height: auto;
  padding: 16px;
}

.campusalt {
  flex-direction: column;
  padding: 16px;
}

.campusalt img {
  width: 100%;
  height: auto;
}

.campusalt1 {
  margin: 32px 32px;
}

.guest {
  display: flex;
  align-items: center;
  background-color: hsla(222, 6%, 69%, 0.91);
}

.guest span {
  width: 65%;
}

.guest img {
  width: 35%;
  height: auto;
  padding: 16px;
}

.guestalt {
  flex-direction: column;
  padding: 16px;
}

.guestalt img {
  width: 100%;
  height: auto;
}

.guestalt1 {
  margin: 32px 32px;
}

@media only screen and (min-width: 751px) and (max-width: 1200px) {
  .practice {
    width: 50%;
  }
  .infolist {
    width: 50%;
  }
}

@media only screen and (max-width: 750px) and (min-width: 400px) {
  .information {
    background-color: white;
  }
  .practice {
    display: none;
  }
  .infolist {
    display: none;
  }
  .infolistalt {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media only screen and (max-width: 399px) {
  .information {
    background-color: white;
  }
  .practice {
    display: none;
  }
  .infolist {
    display: none;
  }
  .infolistalt {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .orientationalt1{
    margin: 16px 8px;
  }
  .campusalt1{
    margin: 16px 8px;
  }
  .guestalt1 {
    margin: 16px 8px;
  }
}

/* Courses */

.courses {
  display: flex;
  width: 100%;
  background-color: hsla(222, 6%, 69%, 0.60);
  justify-content: center;
  flex-wrap: wrap;
  padding: 16px 0px;
}

.courses h1 {
  width: 100%;
  text-align: center;
}

.subject {
  display: flex;
  flex-direction: column;
  width: 275px;
  margin: 16px 16px;
  background-color: white;
}

.subject img {
  width: 100%;
  height: auto;
}

.subject1 {
  padding: 16px 16px;
}

.subject1 h2 {
  padding: 0px 0px 16px 0px;
}

.coursesalt {
  display: none;
}

@media only screen and (max-width: 750px) {
  .courses {
    display: none;
  }
  .coursesalt {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: solid 1px hsla(222, 6%, 69%, 0.91);
    align-items: center;
    padding-bottom: 32px;
  }
  .coursesalt h1 {
    text-align: center;
    margin: 32px 0px 16px 0px;
  }
  .coursesalt h2 {
    background-color: hsla(222, 6%, 69%, 0.60);
    padding: 16px 16px 24px 16px;
    margin: 8px;
    width: 300px;
  }
}

@media only screen and (max-width: 350px) {
  .courses {
    display: none;
  }
  .coursesalt {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: solid 1px hsla(222, 6%, 69%, 0.91);
    align-items: center;
    padding-bottom: 24px;
    border-bottom: solid 1px hsla(222, 6%, 69%, 0.91);
  }
  .coursesalt h1 {
    text-align: center;
    margin: 32px 0px 16px 0px;
  }
  .coursesalt h2 {
    background-color: hsla(222, 6%, 69%, 0.60);
    padding: 16px 16px 24px 16px;
    margin: 8px;
    width: 80%;
  }
